@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .custom-bg-gradient-primary {
    background: linear-gradient(270deg, #ff0000 0%, #ff8938 100%);
  }
  .custom-bg-gradient-card-feature {
    background: linear-gradient(
      180deg,
      #f4f4f4 0%,
      rgba(244, 244, 244, 0) 100%
    );
  }
  .custom-bg-gradient-grid-2 {
    background: linear-gradient(90deg, #d9d9d9 0%, rgba(255, 255, 255, 0) 100%);
  }
  .custom-text-gradient {
    background-image: linear-gradient(270deg, #ff0000 0%, #ff8938 100%);
    background-size: 100%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
  }
  .custom-footer-gradient {
    background: linear-gradient(
      270deg,
      rgba(255, 0, 0, 0.1) 0%,
      rgba(255, 137, 56, 0.1) 100%
    );
  }
}
